<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modul.tb.mapper.A15ToDcProgramMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.modul.tb.entity.A15ToDcProgram">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="account_name" property="accountName" />
        <result column="assets_account" property="assetsAccount" />
        <result column="projects_number" property="projectsNumber" />
        <result column="projects_name" property="projectsName" />
        <result column="institution_code" property="institutionCode" />
        <result column="institution_name" property="institutionName" />
        <result column="status" property="status" />
        <result column="update_type" property="updateType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, account_name, assets_account, projects_number, projects_name, institution_code, institution_name, status, update_type
    </sql>

</mapper>
